.myPosts{
  display: flex;
  justify-content: center;
  color: #555;

  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      width: 100%;
      text-align: center;
      tr {
        height: 50px;

        .action {
          display: flex;
          height: 50px;
          justify-content: center;
        }

        th {
          text-align: center;
        }
        td {
          padding: 5px;
          align-items: center;
          
          sup{
            font-size: 12px;
          }

          
          .image {
            width: 50px;
            height: 30px;
            object-fit: cover;
          }

          .delete {
            width: 25px;
            cursor: pointer;
            align-self: center;
          }
          button {
            background-color: #1dbf73;
            color: white;
            font-weight: 500;
            border: none;
            padding: 5px;
            cursor: pointer;
            height: 30px;
            width: 75px;
            margin-left: 10px;
          }

          span {
            font-weight: 500;
            margin-left: 10px;
            padding: 10px;
          }

        }
        &:nth-child(even) {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
