.midman{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    .container {
      width: 1400px;
      padding: 30px 50px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      min-height: 720px;
      margin: auto;
  
      .cards {
        margin:50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
      }
    }
  }
  