.adminOrders {
  display: flex;
  justify-content: center;
  color: #555;

  .container {
    width: 1400px;
    padding: 50px 0px;
    overflow: auto;

    table {
      width: 100%;
      margin-top: 50px;

      thead {
        font-size: 30px;
        font-weight: 500;
      }

      th {
        text-align: left;
      }

      tr {
        height: 50px;

        .status {
            gap: 10px;
          .cancel {
            background-color: red ;
            margin-left: 15px;
          }
        }

        th {
          text-align: left;
        }
        td {
          
          sup{
            font-size: 12px;
          }

          .image {
            width: 50px;
            height: 25px;
            padding: 2px;
          }

          img {
            width: 20px;
          }

          .delete {
            width: 30px;
            cursor: pointer;
          }

          .message {
            width: 25px;
            cursor: pointer;
          }
          button {
            background-color: #1dbf73;
            color: white;
            font-weight: 500;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 10px;
          }
          
        }
        &:nth-child(even) {
          background-color: #1dbf730f;
        }

      }
    }
  }
}