.gameCard {
    flex: 1;
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin: 0;
    
  
    img {
        width: 150px;
        height: 150px;
        margin-bottom: var(--dl-space-space-unit);
        object-position: bottom;
    }
    
    .title {
        font-weight: 300;
        text-align: center;
        height: 50px;
        width: 150px;

    }
  }
  