.gameCard {
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    width: 150px;
    height: 200px;
    
  .link{
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 150px;
        height: 150px;
        margin-bottom: var(--dl-space-space-unit);
        border-radius: 10px;
    }
    
    .title {
        font-weight: 500;
        text-align: center;
        height: 50px;
        width: 100px;
        padding: 5px;
        margin-top: 10px;

    }
  }
    
  }
  